body {
    background-color: rgb(17, 17, 17);
    font: 16px/1.5 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    bottom: 50px;          /* space from bottom */
    left: 50%;
    transform: translateX(-50%);

    width: 20%;           /* better than 20% for responsiveness */
    padding: 15px 5px;

    background: rgba(32, 32, 32, 0.4); /* translucent */
    backdrop-filter: blur(15px);
    border: white solid 1px;
    border-radius: 30px;
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.5),      /* depth */
        inset 0 0 10px rgba(255, 255, 255, 0.05); /* inner glow */

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;         /* stays above content */
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    margin: 0;        /* REMOVE default spacing */
    padding: 0;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s;
}

.nav-links li a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.anime-card {
    background: #111;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.anime-card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.anime-card p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #aaa;
}

.Top-title {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.detail-container {
    padding: 40px;
}

.detail-card {
    color: white;
    display: flex;
    gap: 30px;
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.detail-card img {
    width: 250px;
    border-radius: 10px;
}

#loginSection {
    color: white;
}

#loginSection label {
    color: white;
}

#loginSection input {
    color: white;
    background-color: #222;   /* optional for better contrast */
    border: 1px solid #555;
}

#loginSection button,
#loginSection a {
    color: white;
}